.sticky{
    position: fixed;
    top: 0;
    left: 0;
}

/*-------------以下CSS是用户自己写的-----------------------*/

*{margin: 0;padding: 0;}

#topbar{
    background:green;
    height: 60px;
    color: white;
    text-align: center;
    opacity: 0.55;
}



main{
    background: #ddd;
    height: 1200px;
}

#topbar.sticky{
    width: 100%;
}