.zywSlides{
    overflow: hidden;
    position: relative;
}
.zywSlides ol{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.zywSlides ol>li img{
    vertical-align: top;
}
.zywSlides-prev{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.zywSlides-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}